# Exercice : analyse de données sur Thanksgiving

## Import des données

1ère étape habituelle : importer les librairies nécessaires, les données thanksgiving.csv et les afficher

In [1]:
import pandas as pd
df = pd.read_csv('Data/thanksgiving.csv', encoding='iso-8859-1') #'iso-8859-1' = 'latin-1'
df.head(10)

,RespondentID,Do you celebrate Thanksgiving?,What is typically the main dish at your Thanksgiving dinner?,What is typically the main dish at your Thanksgiving dinner? - Other (please specify),How is the main dish typically cooked?,How is the main dish typically cooked? - Other (please specify),What kind of stuffing/dressing do you typically have?,What kind of stuffing/dressing do you typically have? - Other (please specify),What type of cranberry saucedo you typically have?,What type of cranberry saucedo you typically have? - Other (please specify),...,Have you ever tried to meet up with hometown friends on Thanksgiving night?,"Have you ever attended a ""Friendsgiving?""",Will you shop any Black Friday sales on Thanksgiving Day?,Do you work in retail?,Will you employer make you work on Black Friday?,How would you describe where you live?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region
0,4337954960,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,None,NaN,...,Yes,No,No,No,NaN,Suburban,18 - 29,Male,"$75,000 to $99,999",Middle Atlantic
1,4337951949,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Other (please specify),Homemade cranberry gelatin ring,...,No,No,Yes,No,NaN,Rural,18 - 29,Female,"$50,000 to $74,999",East South Central
2,4337935621,Yes,Turkey,NaN,Roasted,NaN,Rice-based,NaN,Homemade,NaN,...,Yes,Yes,Yes,No,NaN,Suburban,18 - 29,Male,"$0 to $9,999",Mountain
3,4337933040,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Homemade,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$200,000 and up",Pacific
4,4337931983,Yes,Tofurkey,NaN,Baked,NaN,Bread-based,NaN,Canned,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$100,000 to $124,999",Pacific
5,4337929779,Yes,Turkey,NaN,Roasted,NaN,Rice-based,NaN,Homemade,NaN,...,Yes,Yes,Yes,No,NaN,Urban,18 - 29,Male,"$0 to $9,999",Pacific
6,4337924420,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Canned,NaN,...,No,No,Yes,Yes,No,Rural,18 - 29,Male,"$25,000 to $49,999",East North Central
7,4337916002,Yes,Turkey,NaN,Baked,NaN,Rice-based,NaN,Homemade,NaN,...,Yes,Yes,Yes,Yes,Yes,Rural,18 - 29,Male,Prefer not to answer,Mountain
8,4337914977,Yes,Turkey,NaN,Roasted,NaN,Bread-based,NaN,Canned,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$75,000 to $99,999",Middle Atlantic
9,4337899817,Yes,Other (please specify),Turkey and Ham,Baked,NaN,Bread-based,NaN,Other (please specify),Both Canned and Homemade,...,No,No,No,Yes,Yes,Suburban,30 - 44,Male,"$25,000 to $49,999",East South Central

In [2]:
df.shape

(1058, 65)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1058 entries, 0 to 1057
Data columns (total 65 columns):
 #   Column                                                                                                                                        Non-Null Count  Dtype
---  ------                                                                                                                                        --------------  -----
 0   RespondentID                                                                                                                                  1058 non-null   int64
 1   Do you celebrate Thanksgiving?                                                                                                                1058 non-null   object
 2   What is typically the main dish at your Thanksgiving dinner?                                                                                  974 non-null    object
 3   What is typically the main dish at your Thanksgiving dinner? - Other (please specify)                                                         35 non-null     object
 4   How is the main dish typically cooked?                                                                                                        974 non-null    object
 5   How is the main dish typically cooked? - Other (please specify)                                                                               51 non-null     object
 6   What kind of stuffing/dressing do you typically have?                                                                                         974 non-null    object
 7   What kind of stuffing/dressing do you typically have? - Other (please specify)                                                                36 non-null     object
 8   What type of cranberry saucedo you typically have?                                                                                            974 non-null    object
 9   What type of cranberry saucedo you typically have? - Other (please specify)                                                                   25 non-null     object
 10  Do you typically have gravy?                                                                                                                  974 non-null    object
 11  Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Brussel sprouts                   155 non-null    object
 12  Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Carrots                           242 non-null    object
 13  Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Cauliflower                       88 non-null     object
 14  Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Corn                              464 non-null    object
 15  Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Cornbread                         235 non-null    object
 16  Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Fruit salad                       215 non-null    object
 17  Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Green beans/green bean casserole  686 non-null    object
 18  Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Macaroni and cheese               206 non-null    object
 19  Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Mashed potatoes                   817 non-null    object
 20  Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Rolls/biscuits                    766 non-null    object
 21  Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Squash                            171 non-null    object
 22  Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Vegetable salad                   209 non-null    object
 23  Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Yams/sweet potato casserole       631 non-null    object
 24  Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Other (please specify)            111 non-null    object
 25  Which of these side dishes aretypically served at your Thanksgiving dinner? Please select all that apply. - Other (please specify).1          111 non-null    object
 26  Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple                                      514 non-null    object
 27  Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Buttermilk                                 35 non-null     object
 28  Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Cherry                                     113 non-null    object
 29  Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Chocolate                                  133 non-null    object
 30  Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Coconut cream                              36 non-null     object
 31  Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Key lime                                   39 non-null     object
 32  Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Peach                                      34 non-null     object
 33  Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan                                      342 non-null    object
 34  Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin                                    729 non-null    object
 35  Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Sweet Potato                               152 non-null    object
 36  Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - None                                       40 non-null     object
 37  Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Other (please specify)                     71 non-null     object
 38  Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Other (please specify).1                   71 non-null     object
 39  Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Apple cobbler                         110 non-null    object
 40  Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Blondies                              16 non-null     object
 41  Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Brownies                              128 non-null    object
 42  Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Carrot cake                           72 non-null     object
 43  Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Cheesecake                            191 non-null    object
 44  Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Cookies                               204 non-null    object
 45  Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Fudge                                 43 non-null     object
 46  Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Ice cream                             266 non-null    object
 47  Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Peach cobbler                         103 non-null    object
 48  Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - None                                  295 non-null    object
 49  Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Other (please specify)                134 non-null    object
 50  Which of these desserts do you typically have at Thanksgiving dinner? Please select all that apply.   - Other (please specify).1              134 non-null    object
 51  Do you typically pray before or after the Thanksgiving meal?                                                                                  959 non-null    object
 52  How far will you travel for Thanksgiving?                                                                                                     951 non-null    object
 53  Will you watch any of the following programs on Thanksgiving? Please select all that apply. - Macy's Parade                                   502 non-null    object
 54  What's the age cutoff at your "kids' table" at Thanksgiving?                                                                                  951 non-null    object
 55  Have you ever tried to meet up with hometown friends on Thanksgiving night?                                                                   951 non-null    object
 56  Have you ever attended a "Friendsgiving?"                                                                                                     951 non-null    object
 57  Will you shop any Black Friday sales on Thanksgiving Day?                                                                                     951 non-null    object
 58  Do you work in retail?                                                                                                                        951 non-null    object
 59  Will you employer make you work on Black Friday?                                                                                              70 non-null     object
 60  How would you describe where you live?                                                                                                        948 non-null    object
 61  Age                                                                                                                                           1025 non-null   object
 62  What is your gender?                                                                                                                          1025 non-null   object
 63  How much total combined money did all members of your HOUSEHOLD earn last year?                                                               1025 non-null   object
 64  US Region                                                                                                                                     999 non-null    object
dtypes: int64(1), object(64)
memory usage: 537.4+ KB

## Filtrage des données

- Comptez le nombre de personne qui célèbrent Thanksgiving.  
- Conservez dans votre dataframe uniquement les individus qui célèbrent Thanksgiving.  
>Indications :
>- Il existe une méthode Series.value_counts()
>- La colonne 'Do you celebrate Thanksgiving?' devrait être utile
>- Pour rappel, on peut tout à fait réaffecter une partie d'un dataframe à la variable contenant ce dataframe

In [4]:
df['Do you celebrate Thanksgiving?'].value_counts()

Yes    980
No      78
Name: Do you celebrate Thanksgiving?, dtype: int64

In [5]:
filtre = df['Do you celebrate Thanksgiving?'] == 'Yes'
df = df[filtre]
df.shape

(980, 65)

In [6]:
df.head()

,RespondentID,Do you celebrate Thanksgiving?,What is typically the main dish at your Thanksgiving dinner?,What is typically the main dish at your Thanksgiving dinner? - Other (please specify),How is the main dish typically cooked?,How is the main dish typically cooked? - Other (please specify),What kind of stuffing/dressing do you typically have?,What kind of stuffing/dressing do you typically have? - Other (please specify),What type of cranberry saucedo you typically have?,What type of cranberry saucedo you typically have? - Other (please specify),...,Have you ever tried to meet up with hometown friends on Thanksgiving night?,"Have you ever attended a ""Friendsgiving?""",Will you shop any Black Friday sales on Thanksgiving Day?,Do you work in retail?,Will you employer make you work on Black Friday?,How would you describe where you live?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region
0,4337954960,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,None,NaN,...,Yes,No,No,No,NaN,Suburban,18 - 29,Male,"$75,000 to $99,999",Middle Atlantic
1,4337951949,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Other (please specify),Homemade cranberry gelatin ring,...,No,No,Yes,No,NaN,Rural,18 - 29,Female,"$50,000 to $74,999",East South Central
2,4337935621,Yes,Turkey,NaN,Roasted,NaN,Rice-based,NaN,Homemade,NaN,...,Yes,Yes,Yes,No,NaN,Suburban,18 - 29,Male,"$0 to $9,999",Mountain
3,4337933040,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Homemade,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$200,000 and up",Pacific
4,4337931983,Yes,Tofurkey,NaN,Baked,NaN,Bread-based,NaN,Canned,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$100,000 to $124,999",Pacific

## Exploration des données : les repas de Thanksgiving

- Utiliser la méthode Series.value_counts() pour afficher combien de fois chaque résultat apparaît pour la question 'What is typically the main dish at your Thanksgiving dinner?'.
- Afficher les colonnes 'What is typically the main dish at your Thanksgiving dinner?' et 'Do you typically have gravy?' pour les individus qui mangent du 'Tofurkey' (la dinde de tofu).

In [7]:
df['What is typically the main dish at your Thanksgiving dinner?'].value_counts()

Turkey                    859
Other (please specify)     35
Ham/Pork                   29
Tofurkey                   20
Chicken                    12
Roast beef                 11
I don't know                5
Turducken                   3
Name: What is typically the main dish at your Thanksgiving dinner?, dtype: int64

In [8]:
filtre = df['What is typically the main dish at your Thanksgiving dinner?']=='Tofurkey'
mes_colonnes = ['What is typically the main dish at your Thanksgiving dinner?', 'Do you typically have gravy?']

df.loc[filtre, mes_colonnes]

,What is typically the main dish at your Thanksgiving dinner?,Do you typically have gravy?
4,Tofurkey,Yes
33,Tofurkey,Yes
69,Tofurkey,No
72,Tofurkey,No
77,Tofurkey,Yes
145,Tofurkey,Yes
175,Tofurkey,Yes
218,Tofurkey,No
243,Tofurkey,Yes
275,Tofurkey,No
393,Tofurkey,Yes
399,Tofurkey,Yes
571,Tofurkey,Yes
594,Tofurkey,Yes
628,Tofurkey,No
774,Tofurkey,No
820,Tofurkey,No
837,Tofurkey,Yes
860,Tofurkey,No
953,Tofurkey,Yes

## Convertir l'âge en une valeur numérique

- Ecrire une fonction permettant de convertir les valeurs de la colonne 'Age' en valeur numérique, à savoir la moyenne entre l'âge inférieur et l'âge supérieur des tranches d'âges utilisées. Cette fonction prendra donc en paramètre une chaine de caractères (les valeurs actuelles de la colonne 'Age') et retournera la moyenne des deux âges de chaque tranche.
> Indications (si vous voulez vous pouvez faire sans bien sûr !) :
>- Faire en sorte que la fonction ne retourne rien (cf None) si les valeurs sont nulles
>- Remplacer le caractère '+' avec une chaine de caractères vide en remplacement pour le supprimer (méthode replace())
>- Séparer les chaines de caractères (méthode split()) pour en extraire les bornes d'age
>- utiliser int() pour convertir le résultat en entier
>- Retourner le résultat
- Utiliser la méthode Series.apply() pour appliquer la fonction à chaque valeur de la colonne 'Age' du dataframe data et créer une nouvelle variable age_num.
- Appeler la méthode Series.describe() sur la colonne 'age_num'.

In [9]:
df['Age'].dtype

dtype('O')

In [10]:
df['Age'].value_counts()

45 - 59    269
60+        258
30 - 44    235
18 - 29    185
Name: Age, dtype: int64

In [11]:
df['Age'].unique()

array(['18 - 29', '30 - 44', '60+', '45 - 59', nan], dtype=object)

In [12]:
def convert_age(chaine):
    if pd.isnull(chaine):
        return None
    else:
        chaine = chaine.replace('+', '')
        vals = chaine.split(' - ')
        inf = int(vals[0])
        sup = int(vals[-1])
        return (inf+sup)/2

In [13]:
def convert_age2(chaine):
    if pd.isnull(chaine):
        return None
    else:
        chaine = chaine.replace('+', '')
        inf = int(chaine[:2])
        sup = int(chaine[-2:])
        return (inf+sup)/2

In [14]:
df['age_num'] = df['Age'].apply(convert_age)
df['age_num'].describe()

count    947.000000
mean      44.889652
std       13.475203
min       23.500000
25%       37.000000
50%       52.000000
75%       60.000000
max       60.000000
Name: age_num, dtype: float64

In [15]:
def convert_age_row(observation):
    chaine = observation['Age']
    if pd.isnull(chaine):
        return None
    else:
        chaine = chaine.replace('+', '')
        vals = chaine.split(' - ')
        inf = int(vals[0])
        sup = int(vals[-1])
        return (inf+sup)/2

In [16]:
convert_age_row(df.loc[0,:])

23.5

In [17]:
df['age_num2'] = df.apply(convert_age_row, axis=1)

In [18]:
### exemple d'utilisation de apply sur les colonnes
def count_na(colonne):
    return colonne.isna().sum()

df.apply(count_na, axis=0)

RespondentID                                                                               0
Do you celebrate Thanksgiving?                                                             0
What is typically the main dish at your Thanksgiving dinner?                               6
What is typically the main dish at your Thanksgiving dinner? - Other (please specify)    945
How is the main dish typically cooked?                                                     6
                                                                                        ...
What is your gender?                                                                      33
How much total combined money did all members of your HOUSEHOLD earn last year?           33
US Region                                                                                 49
age_num                                                                                   33
age_num2                                                                                  33
Length: 67, dtype: int64

## Convertir les revenus en valeurs numériques

Appliquer exactement la même méthodologie pour convertir le revenu (colonne 'How much total combined money did all members of your HOUSEHOLD earn last year?') en valeur numérique.  
Nommer la nouvelle variable 'income_num'.

In [19]:
df.rename(columns={'How much total combined money did all members of your HOUSEHOLD earn last year?':'income'}, inplace=True)

In [20]:
df['income'].unique()

array(['$75,000 to $99,999', '$50,000 to $74,999', '$0 to $9,999',
       '$200,000 and up', '$100,000 to $124,999', '$25,000 to $49,999',
       'Prefer not to answer', '$10,000 to $24,999',
       '$175,000 to $199,999', '$150,000 to $174,999',
       '$125,000 to $149,999', nan], dtype=object)

In [21]:
def convert_money(chaine):
    if pd.isnull(chaine) | (chaine == "Prefer not to answer"):
        return None
    else:
        chaine = chaine.replace('$', '').replace(' and up', '').replace(',', '')
        vals = chaine.split(' ')
        inf = int(vals[0])
        sup = int(vals[-1])
        return (inf+sup)/2

In [22]:
df['income_num'] = df['income'].apply(convert_money)
df['income_num'].describe()

count       829.000000
mean      86486.276840
std       57789.467567
min        4999.500000
25%       37499.500000
50%       87499.500000
75%      112499.500000
max      200000.000000
Name: income_num, dtype: float64

## Corrélation entre distance et revenus

- Regarder de quelle manière les personnes gagnant moins de 100000 dollars voyagent.
> _Indications :_ Utiliser les variables 'int_income' et 'How far will you travel for Thanksgiving?'
- Faire de même avec les personnes gagnant plus de 100000 dollars.

In [23]:
df[df.income_num<100000].pivot_table(columns='How far will you travel for Thanksgiving?',
                                     index='income',
                                     values='RespondentID',
                                     aggfunc='count',
                                     margins=True)

How far will you travel for Thanksgiving?,Thanksgiving is happening at my home--I won't travel at all,Thanksgiving is local--it will take place in the town I live in,Thanksgiving is out of town and far away--I have to drive several hours or fly,Thanksgiving is out of town but not too far--it's a drive of a few hours or less,All
income,,,,,
"$0 to $9,999",21,15,4,12,52
"$10,000 to $24,999",25,23,2,10,60
"$25,000 to $49,999",60,54,10,42,166
"$50,000 to $74,999",41,46,10,30,127
"$75,000 to $99,999",58,25,12,32,127
All,205,163,38,126,532

In [24]:
df[df.income_num<100000].pivot_table(index='How far will you travel for Thanksgiving?',
               values='income_num',
               aggfunc='mean')

                                                      income_num
How far will you travel for Thanksgiving?
Thanksgiving is happening at my home--I won't t...  50877.548780
Thanksgiving is local--it will take place in th...  46410.542945
Thanksgiving is out of town and far away--I hav...  55394.236842
Thanksgiving is out of town but not too far--it...  51467.753968

In [25]:
df.pivot_table(index='How far will you travel for Thanksgiving?',
               values='income_num',
               aggfunc='mean')

                                                       income_num
How far will you travel for Thanksgiving?
Thanksgiving is happening at my home--I won't t...   92377.076369
Thanksgiving is local--it will take place in th...   78754.812236
Thanksgiving is out of town and far away--I hav...  100428.128571
Thanksgiving is out of town but not too far--it...   79699.534286

In [26]:
df['inf100'] = df['income_num']<100000
df.pivot_table(index='How far will you travel for Thanksgiving?',
               columns='inf100',
               values='income_num',
               aggfunc='mean',
              margins=True)

inf100,False,True,All
How far will you travel for Thanksgiving?,,,
Thanksgiving is happening at my home--I won't travel at all,152288.366197,50877.548780,92377.076369
Thanksgiving is local--it will take place in the town I live in,149999.621622,46410.542945,78754.812236
Thanksgiving is out of town and far away--I have to drive several hours or fly,153905.875000,55394.236842,100428.128571
Thanksgiving is out of town but not too far--it's a drive of a few hours or less,152295.540816,51467.753968,79699.534286
All,151893.567340,49971.304511,86486.276840

In [27]:
df['inf100'] = df['income_num']<100000
df.pivot_table(index='How far will you travel for Thanksgiving?',
               columns='inf100',
               values='income_num',
               aggfunc='count',
              margins=True)

inf100                                              False  True  All
How far will you travel for Thanksgiving?
Thanksgiving is happening at my home--I won't t...    142   205  347
Thanksgiving is local--it will take place in th...     74   163  237
Thanksgiving is out of town and far away--I hav...     32    38   70
Thanksgiving is out of town but not too far--it...     49   126  175
All                                                   297   532  829

## Lien entre passer Thanksgiving entre amis avec l'âge et le revenu

- Générer un pivot de table pour regarder la moyenne d'âge des sondés pour chaque catégorie des questions 'Have you ever tried to meet up with hometown friends on Thanksgiving night?' et 'Have you ever attended a "Friendsgiving?"'.
> _Indications :_ utiliser les colonnes 'Have you ever tried to meet up with hometown friends on Thanksgiving night?','Have you ever attended a "Friendsgiving?"' et 'age_num'
- Faire de même pour les revenus avec ces 2 questions.

In [28]:
df.pivot_table(index='Have you ever tried to meet up with hometown friends on Thanksgiving night?',
               columns='Have you ever attended a "Friendsgiving?"',
               values='age_num',
               aggfunc='mean')

Have you ever attended a "Friendsgiving?"                  No        Yes
Have you ever tried to meet up with hometown fr...
No                                                  46.731388  42.042105
Yes                                                 46.357923  39.578488

In [29]:
df.pivot_table(index='Have you ever tried to meet up with hometown friends on Thanksgiving night?',
               columns='Have you ever attended a "Friendsgiving?"',
               values='income_num',
               aggfunc='mean')

Have you ever attended a "Friendsgiving?"                     No           Yes
Have you ever tried to meet up with hometown fr...
No                                                  89456.824480  83124.552632
Yes                                                 89553.119048  76315.319079