# Introduction à la libraire Pandas

DataFrame : structure de données équivalente à un numpy.array avec des fonctionnalités en plus

Avantages de Pandas :
 - pas de restriction à un seul type de données
 - gestion des NaN simplifié
 - extraction de valeurs et de sous-ensembles facile

## Généralités

In [1]:
import pandas as pd

In [3]:
### Lecture d'un fichier csv
data = pd.read_csv('Data/food-info.csv')
type(data)
data.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0
5,1006,CHEESE BRIE,48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,...,592.0,174.0,0.24,0.5,20.0,2.3,17.410,8.013,0.826,100.0
6,1007,CHEESE CAMEMBERT,51.80,300,19.80,24.26,3.68,0.46,0.0,0.46,...,820.0,241.0,0.21,0.4,18.0,2.0,15.259,7.023,0.724,72.0
7,1008,CHEESE CARAWAY,39.28,376,25.18,29.20,3.28,3.06,0.0,NaN,...,1054.0,271.0,NaN,NaN,NaN,NaN,18.584,8.275,0.830,93.0

In [4]:
### Affichage des données
data.head()
data.head(3)
data.tail()
data.tail(7)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
8611,48052,VITAL WHEAT GLUTEN,8.20,370,75.16,1.85,1.00,13.79,0.6,0.0,...,0.0,0.0,0.00,0.0,0.0,0.0,0.272,0.156,0.810,0.0
8612,80200,FROG LEGS RAW,81.90,73,16.40,0.30,1.40,0.00,0.0,0.0,...,50.0,15.0,1.00,0.2,8.0,0.1,0.076,0.053,0.102,50.0
8613,83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.0,...,157.0,47.0,2.38,25.2,1006.0,7.8,7.148,8.320,6.210,95.0
8614,90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.0,...,5.0,2.0,0.00,0.0,2.0,0.0,0.218,0.082,0.222,41.0
8615,90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.2,...,0.0,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0
8616,90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.0,...,100.0,30.0,5.00,0.0,0.0,0.1,0.361,0.259,0.252,50.0
8617,93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.0,...,100.0,30.0,0.50,0.0,0.0,0.1,0.127,0.088,0.170,50.0

In [7]:
### Attributs columns et shape
print(data.shape,'\n',data.columns)

(8618, 36)
 Index(['NDB_No', 'Shrt_Desc', 'Water_(g)', 'Energ_Kcal', 'Protein_(g)',
       'Lipid_Tot_(g)', 'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)',
       'Sugar_Tot_(g)', 'Calcium_(mg)', 'Iron_(mg)', 'Magnesium_(mg)',
       'Phosphorus_(mg)', 'Potassium_(mg)', 'Sodium_(mg)', 'Zinc_(mg)',
       'Copper_(mg)', 'Manganese_(mg)', 'Selenium_(mcg)', 'Vit_C_(mg)',
       'Thiamin_(mg)', 'Riboflavin_(mg)', 'Niacin_(mg)', 'Vit_B6_(mg)',
       'Vit_B12_(mcg)', 'Vit_A_IU', 'Vit_A_RAE', 'Vit_E_(mg)', 'Vit_D_mcg',
       'Vit_D_IU', 'Vit_K_(mcg)', 'FA_Sat_(g)', 'FA_Mono_(g)', 'FA_Poly_(g)',
       'Cholestrl_(mg)'],
      dtype='object')

In [8]:
### type des données avec dtypes :
#object (pour les string ou les variables ayant différents types)
#int, float, datetime, bool
print(data.dtypes)

NDB_No               int64
Shrt_Desc           object
Water_(g)          float64
Energ_Kcal           int64
Protein_(g)        float64
Lipid_Tot_(g)      float64
Ash_(g)            float64
Carbohydrt_(g)     float64
Fiber_TD_(g)       float64
Sugar_Tot_(g)      float64
Calcium_(mg)       float64
Iron_(mg)          float64
Magnesium_(mg)     float64
Phosphorus_(mg)    float64
Potassium_(mg)     float64
Sodium_(mg)        float64
Zinc_(mg)          float64
Copper_(mg)        float64
Manganese_(mg)     float64
Selenium_(mcg)     float64
Vit_C_(mg)         float64
Thiamin_(mg)       float64
Riboflavin_(mg)    float64
Niacin_(mg)        float64
Vit_B6_(mg)        float64
Vit_B12_(mcg)      float64
Vit_A_IU           float64
Vit_A_RAE          float64
Vit_E_(mg)         float64
Vit_D_mcg          float64
Vit_D_IU           float64
Vit_K_(mcg)        float64
FA_Sat_(g)         float64
FA_Mono_(g)        float64
FA_Poly_(g)        float64
Cholestrl_(mg)     float64
dtype: object

## Sélection de ligne.s et de colonne.s

In [11]:
type(data.iloc[0])

pandas.core.series.Series

In [ ]:
### sélection d'une seule ligne
data.iloc[0]

In [12]:
### sélection de plusieurs lignes
data.iloc[3:6]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0
5,1006,CHEESE BRIE,48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,...,592.0,174.0,0.24,0.5,20.0,2.3,17.410,8.013,0.826,100.0

In [ ]:
data.iloc[3:6,:]

In [13]:
data.iloc[[2,10,5], :]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
10,1011,CHEESE COLBY,38.20,394,23.76,32.11,3.36,2.57,0.0,0.52,...,994.0,264.0,0.28,0.6,24.0,2.7,20.218,9.280,0.953,95.0
5,1006,CHEESE BRIE,48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,...,592.0,174.0,0.24,0.5,20.0,2.3,17.410,8.013,0.826,100.0

In [14]:
data.iloc[list(range(2,5))+list(range(9,11))]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0
9,1010,CHEESE CHESHIRE,37.65,387,23.37,30.60,3.60,4.78,0.0,NaN,...,985.0,233.0,NaN,NaN,NaN,NaN,19.475,8.671,0.870,103.0
10,1011,CHEESE COLBY,38.20,394,23.76,32.11,3.36,2.57,0.0,0.52,...,994.0,264.0,0.28,0.6,24.0,2.7,20.218,9.280,0.953,95.0

In [17]:
### sélection d'une colonne
data['Water_(g)']

0       15.87
1       15.87
2        0.24
3       42.41
4       41.11
        ...
8613    43.00
8614    70.25
8615    26.00
8616    79.20
8617    78.50
Name: Water_(g), Length: 8618, dtype: float64

In [16]:
data.NDB_No

0        1001
1        1002
2        1003
3        1004
4        1005
        ...
8613    83110
8614    90240
8615    90480
8616    90560
8617    93600
Name: NDB_No, Length: 8618, dtype: int64

In [22]:
### sélection d'une colonne avec .loc
data.loc[:, "NDB_No"]

0        1001
1        1002
2        1003
3        1004
4        1005
        ...
8613    83110
8614    90240
8615    90480
8616    90560
8617    93600
Name: NDB_No, Length: 8618, dtype: int64

In [ ]:
### sélection d'une colonne avec .iloc[]
data.iloc[:,0]

In [23]:
### sélection de plusieurs colonnes
data[["Zinc_(mg)","NDB_No"]].head()

   Zinc_(mg)  NDB_No
0       0.09    1001
1       0.05    1002
2       0.01    1003
3       2.66    1004
4       2.60    1005

In [25]:
### sélection de plusieurs colonnes avec loc
data.loc[1:6,["NDB_No","Calcium_(mg)","Energ_Kcal"]]

   NDB_No  Calcium_(mg)  Energ_Kcal
1    1002          24.0         717
2    1003           4.0         876
3    1004         528.0         353
4    1005         674.0         371
5    1006         184.0         334
6    1007         388.0         300

In [28]:
[10,0,3]+list(range(2,5))

[10, 0, 3, 2, 3, 4]

In [29]:
### sélection de plusieurs colonnes avec iloc
data2 = data.iloc[:, [10,0,3]+list(range(2,5))]

In [30]:
data2.head()

   Calcium_(mg)  NDB_No  Energ_Kcal  Water_(g)  Energ_Kcal  Protein_(g)
0          24.0    1001         717      15.87         717         0.85
1          24.0    1002         717      15.87         717         0.85
2           4.0    1003         876       0.24         876         0.28
3         528.0    1004         353      42.41         353        21.40
4         674.0    1005         371      41.11         371        23.24

### Exo : afficher les 3 premières lignes des colonnes utilisant comme unité de mesure les grammes

En regardant les noms des colonnes, on constate qu'elles sont identifiables via le suffixe "(g)". Il y a plus qu'à...

Deux solutions possibles mais il y en a d'autres. **Surtout, essayez d'abord par vous-même !**

In [36]:
# Une solution
grams=[]
for col in data.columns:
    if col.endswith("(g)"):
        grams.append(col)
data.loc[0:2, grams]

,Water_(g),Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g)
0,15.87,0.85,81.11,2.11,0.06,0.0,0.06,51.368,21.021,3.043
1,15.87,0.85,81.11,2.11,0.06,0.0,0.06,50.489,23.426,3.012
2,0.24,0.28,99.48,0.00,0.00,0.0,0.00,61.924,28.732,3.694

In [38]:
# Une autre solution
data.loc[:2, [c.endswith("(g)") for c in data.columns]]

,Water_(g),Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g)
0,15.87,0.85,81.11,2.11,0.06,0.0,0.06,51.368,21.021,3.043
1,15.87,0.85,81.11,2.11,0.06,0.0,0.06,50.489,23.426,3.012
2,0.24,0.28,99.48,0.00,0.00,0.0,0.00,61.924,28.732,3.694

## Manipulation de données avec Pandas

### Transformation d'une colonne

On peut facilement transformer une colonne en ajoutant, enlevant, multipliant ou divisant une toutes les lignes par une même valeur. Deux exemples ci-dessous pour convertir des valeurs des milligrammes vers les grammes et inversement.

In [39]:
### Pour convertir des mg en g
iron_g = data["Iron_(mg)"]/1000

### Pour convertir des g en mg
protein_mg = data["Protein_(g)"]*1000

print(iron_g,protein_mg)

0       0.00002
1       0.00016
2       0.00000
3       0.00031
4       0.00043
         ...
8613    0.00140
8614    0.00058
8615    0.00360
8616    0.00350
8617    0.00140
Name: Iron_(mg), Length: 8618, dtype: float64 0         850.0
1         850.0
2         280.0
3       21400.0
4       23240.0
         ...
8613    18500.0
8614    20540.0
8615        0.0
8616    16100.0
8617    19800.0
Name: Protein_(g), Length: 8618, dtype: float64

### Création et suppression d'une colonne

Pour créer une nouvelle colonne, il suffit d'affecter un objet Series à un nouveau de colonne dans le dataframe. Si on affecte à un nom de colonne déjà existant, on remplace l'ensemble des valeurs par la nouvelle série.

In [40]:
### La nouvelle colonne est créée à la fin du dataframe
data["Iron_(g)"] = data["Iron_(mg)"]/1000
data.head(1)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),Iron_(g)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0,0.00002

Pour supprimer une colonne, on peut utiliser del ou drop

In [41]:
### Avec del
del data["Iron_(g)"]
data.head(1)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0

In [43]:
### Avec drop
data["Iron_(g)"] = data["Iron_(mg)"]/1000 # on recréé la variable à supprimer
data.drop(["Iron_(g)"], axis='columns', inplace=True)
data.head(1)

# ATTENTION à l'option inplace, qui remplace directement le dataframe par le dataframe sans les colonnes à supprimer...
# par précaution et par défaut inplace = FALSE et la méthode drop retourne un nouveau dataframe

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0

### Opérations entre colonnes

In [44]:
### Pour ajouter les quantités de fer et de calcium contenues dans un aliment
fer_calcium = data["Iron_(mg)"] + data["Calcium_(mg)"]
fer_calcium.head()

0     24.02
1     24.16
2      4.00
3    528.31
4    674.43
dtype: float64

In [45]:
### On peut multiplier (ou diviser) des colonnes
water_energy = data["Water_(g)"]*data["Energ_Kcal"]
water_energy[:5]

0    11378.79
1    11378.79
2      210.24
3    14970.73
4    15251.81
dtype: float64

### Trier un dataframe

In [56]:
### on utilise la méthode sort_values()
data.sort_values(["Protein_(g)", "Energ_Kcal"], ascending = [True, False], inplace = True)
# Pensez à bien regarder la documentation et notamment l'existence des paramètres inplace= et ascending=

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
4991,16423,SOY PROT ISOLATE K TYPE CRUDE PROT BASIS,4.98,321,88.32,0.53,3.58,2.59,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.066,0.101,0.258,0.0
6155,19177,GELATINS DRY PDR UNSWTND,13.00,335,85.60,0.10,1.30,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.070,0.060,0.010,0.0
216,1258,EGG WHITE DRIED STABILIZED GLUCOSE RED,6.53,362,84.63,0.48,3.63,4.72,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.147,0.173,0.070,20.0
8152,35055,SEAL BEARDED (OOGRUK) MEAT DRIED (ALASKA NATIVE),11.60,351,82.60,2.30,3.50,0.00,0.0,0.0,...,1310.0,393.0,NaN,NaN,NaN,NaN,0.600,1.330,0.370,NaN
124,1136,EGG WHITE DRIED PDR STABILIZED GLUCOSE RED,8.54,376,82.40,0.04,4.55,4.47,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4377,14438,WATER BTLD NON-CARBONATED CRYSTAL GEYSER,100.00,0,0.00,0.00,0.10,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4378,14439,WATER BTLD NON-CARBONATED NAYA,100.00,0,0.00,0.00,0.10,0.00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4379,14440,WATER BTLD NON-CARBONATED DANNON FLUORIDE TO GO,99.97,0,0.00,0.00,0.00,0.03,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4404,14555,WATER BTLD GENERIC,99.98,0,0.00,0.00,0.07,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.0
6417,19918,SWEETENER HERBAL EXTRACT PDR FROM STEVIA LEAF,0.00,0,0.00,0.00,0.00,100.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.0

In [49]:
help(data.sort_values)

Help on method sort_values in module pandas.core.frame:

sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False, key: 'ValueKeyFunc' = None) method of pandas.core.frame.DataFrame instance
    Sort by the values along either axis.

    Parameters
    ----------
            by : str or list of str
                Name or list of names to sort by.

                - if `axis` is 0 or `'index'` then `by` may contain index
                  levels and/or column labels.
                - if `axis` is 1 or `'columns'` then `by` may contain column
                  levels and/or index labels.
    axis : {0 or 'index', 1 or 'columns'}, default 0
         Axis to be sorted.
    ascending : bool or list of bool, default True
         Sort ascending vs. descending. Specify list for multiple sort
         orders.  If this is a list of bools, must match the length of
         the by.
    inplace : bool, default False
         If True, perform operation in-place.
    kind : {'quicksort', 'mergesort', 'heapsort'}, default 'quicksort'
         Choice of sorting algorithm. See also ndarray.np.sort for more
         information.  `mergesort` is the only stable algorithm. For
         DataFrames, this option is only applied when sorting on a single
         column or label.
    na_position : {'first', 'last'}, default 'last'
         Puts NaNs at the beginning if `first`; `last` puts NaNs at the
         end.
    ignore_index : bool, default False
         If True, the resulting axis will be labeled 0, 1, …, n - 1.

         .. versionadded:: 1.0.0

    key : callable, optional
        Apply the key function to the values
        before sorting. This is similar to the `key` argument in the
        builtin :meth:`sorted` function, with the notable difference that
        this `key` function should be *vectorized*. It should expect a
        ``Series`` and return a Series with the same shape as the input.
        It will be applied to each column in `by` independently.

        .. versionadded:: 1.1.0

    Returns
    -------
    DataFrame or None
        DataFrame with sorted values or None if ``inplace=True``.

    See Also
    --------
    DataFrame.sort_index : Sort a DataFrame by the index.
    Series.sort_values : Similar method for a Series.

    Examples
    --------
    >>> df = pd.DataFrame({
    ...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    ...     'col2': [2, 1, 9, 8, 7, 4],
    ...     'col3': [0, 1, 9, 4, 2, 3],
    ...     'col4': ['a', 'B', 'c', 'D', 'e', 'F']
    ... })
    >>> df
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Sort by col1

    >>> df.sort_values(by=['col1'])
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort by multiple columns

    >>> df.sort_values(by=['col1', 'col2'])
      col1  col2  col3 col4
    1    A     1     1    B
    0    A     2     0    a
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort Descending

    >>> df.sort_values(by='col1', ascending=False)
      col1  col2  col3 col4
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B
    3  NaN     8     4    D

    Putting NAs first

    >>> df.sort_values(by='col1', ascending=False, na_position='first')
      col1  col2  col3 col4
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B

    Sorting with a key function

    >>> df.sort_values(by='col4', key=lambda col: col.str.lower())
       col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Natural sort with the key argument,
    using the `natsort <https://github.com/SethMMorton/natsort>` package.

    >>> df = pd.DataFrame({
    ...    "time": ['0hr', '128hr', '72hr', '48hr', '96hr'],
    ...    "value": [10, 20, 30, 40, 50]
    ... })
    >>> df
        time  value
    0    0hr     10
    1  128hr     20
    2   72hr     30
    3   48hr     40
    4   96hr     50
    >>> from natsort import index_natsorted
    >>> df.sort_values(
    ...    by="time",
    ...    key=lambda x: np.argsort(index_natsorted(df["time"]))
    ... )
        time  value
    0    0hr     10
    3   48hr     40
    2   72hr     30
    4   96hr     50
    1  128hr     20

### Exo : un judoka de haut niveau voudrait adapter son alimentation à son programme d'entraînement et vous demande de déterminer les aliments à la fois riches en protéine et faibles en lipides. Son entraîneur vous contacte ensuite pour vous préciser que le plus important est qu'il y ait un maximum de protéine !

Pour faire cet exercice, voici quelques indications. Vous pouvez tout à fait faire sans mais si vous ne savez pas par où commencer, ces quelques lignes vous aideront sûrement.

Comme on souhaite regarder coinjointement les quantités de protéines et de lipides, le plus simple est de calculer un score faisant intervenir les variables Protein_(g) et Lipid_Tot_(g). L'idée de ce score est que plus il sera élevé, plus l'aliment répondra à nos critères (bcp de protéines/peu de lipides).

Vous calculerez donc un score sous la forme __*Score = a * Protéine + b * Lipide* où a et b sont des constantes qu'il faudra fixer__ (arbitrairement certes mais en justifiant le choix quand même !).

Les questions que vous devez vous poser :
 - Tout d'abord, quel doivent être les signes de a et de b pour répondre à notre problématique ?
 - Quel coefficient doit être le plus grand en valeur absolue ?
 - Ensuite, quelles sont les min et max des variables Protein_(g) et Lipid_Tot_(g) ?
 - Par conséquent, comment gérer le fait que ces deux variables n'évoluent pas du tout sur la même échelle ?

À vous de jouer ! Essayez dans un premier temps de ne pas regarder la solution proposée ci dessous...

In [67]:
# score = 2 * proteine - 0.5 * lipide
# print(max(data['Protein_(g)']), max(data['Lipid_Tot_(g)']))
# print(min(data['Protein_(g)']), min(data['Lipid_Tot_(g)']))

prot_norm = (data["Protein_(g)"] - min(data["Protein_(g)"])) / max(data["Protein_(g)"] - min(data["Protein_(g)"]))
lip_norm = (data["Lipid_Tot_(g)"] - min(data["Lipid_Tot_(g)"])) / max(data["Lipid_Tot_(g)"] - min(data["Lipid_Tot_(g)"]))

data["score"] = 2*prot_norm - 0.5 * lip_norm

data.sort_values("score", ascending = False).loc[:, ["Shrt_Desc", "Protein_(g)",
                                                    "Lipid_Tot_(g)", "score"]]

,Shrt_Desc,Protein_(g),Lipid_Tot_(g),score
6155,GELATINS DRY PDR UNSWTND,85.60,0.10,1.838406
151,EGG WHITE DRIED,81.10,0.00,1.836504
124,EGG WHITE DRIED PDR STABILIZED GLUCOSE RED,82.40,0.04,1.825942
123,EGG WHITE DRIED FLAKES STABILIZED GLUCOSE RED,76.92,0.04,1.701848
4991,SOY PROT ISOLATE K TYPE CRUDE PROT BASIS,88.32,0.53,1.470000
...,...,...,...,...
686,SHORTENING FRYING HVY DUTY SOYBN HYDR LINOLEIC...,0.00,100.00,-100.000000
669,OIL HAZELNUT,0.00,100.00,-100.000000
684,SHORTENING FRYING (HVY DUTY) PALM (HYDR),0.00,100.00,-100.000000
658,VEGETABLE OIL PALM KERNEL,0.00,100.00,-100.000000
757,OIL INDUSTRIAL PALM KERNEL (HYDROGENATED) FILL...,0.00,100.00,-100.000000

In [68]:
data.sort_values(["Protein_(g)", "Lipid_Tot_(g)"], ascending = [False, True])

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg),score
4991,16423,SOY PROT ISOLATE K TYPE CRUDE PROT BASIS,4.98,321,88.32,0.53,3.58,2.59,2.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.066,0.101,0.258,0.0,1.470000
6155,19177,GELATINS DRY PDR UNSWTND,13.00,335,85.60,0.10,1.30,0.00,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.070,0.060,0.010,0.0,1.838406
216,1258,EGG WHITE DRIED STABILIZED GLUCOSE RED,6.53,362,84.63,0.48,3.63,4.72,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.147,0.173,0.070,20.0,1.436440
8152,35055,SEAL BEARDED (OOGRUK) MEAT DRIED (ALASKA NATIVE),11.60,351,82.60,2.30,3.50,0.00,0.0,0.0,...,393.0,NaN,NaN,NaN,NaN,0.600,1.330,0.370,NaN,-0.429529
124,1136,EGG WHITE DRIED PDR STABILIZED GLUCOSE RED,8.54,376,82.40,0.04,4.55,4.47,0.0,0.0,...,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0,1.825942
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,4532,OIL HAZELNUT,0.00,884,0.00,100.00,0.00,0.00,0.0,0.0,...,0.0,47.20,NaN,NaN,NaN,7.400,78.000,10.200,0.0,-100.000000
684,4556,SHORTENING FRYING (HVY DUTY) PALM (HYDR),0.00,884,0.00,100.00,0.00,0.00,0.0,NaN,...,0.0,19.00,NaN,NaN,NaN,47.500,40.600,7.500,0.0,-100.000000
658,4513,VEGETABLE OIL PALM KERNEL,0.00,862,0.00,100.00,0.00,0.00,0.0,0.0,...,0.0,3.81,0.0,0.0,24.7,81.500,11.400,1.600,0.0,-100.000000
635,4047,OIL COCNT,0.00,862,0.00,100.00,0.00,0.00,0.0,0.0,...,0.0,0.09,0.0,0.0,0.5,86.500,5.800,1.800,0.0,-100.000000
668,4531,OIL SOYBN LECITHIN,0.00,763,0.00,100.00,0.00,0.00,0.0,0.0,...,0.0,8.18,0.0,0.0,183.9,15.005,10.977,45.318,0.0,-100.000000

## Traitement des valeurs manquantes

### Les données

In [ ]:
titanic = pd.read_csv("Data/titanic-survival.csv")
# titanic.drop(index=[1309], axis='index', inplace=True)
#titanic = titanic.iloc[:-1,:]
titanic.tail()

In [ ]:
### La méthode describe() renvoie quelques statistiques du dataframe par variable
titanic.describe()

### Identifier les manquants

In [ ]:
### la méthode isnull()
titanic["age"].isnull()

Comment récupérer le nombre de valeurs manquantes ?

In [ ]:
### Nombre de valeurs manquantes : exemples de solutions
tot_nan1 = len(titanic.loc[titanic["age"].isnull(),"age"])
tot_nan2 = titanic["age"].isnull().sum()

print(tot_nan1, tot_nan2)

In [ ]:
titanic.isnull().head()

### Problème avec les valeurs manquantes : calcul de la moyenne

In [ ]:
### Calcul de l'âge moyen sans build-in function
age_mean =  sum(titanic["age"])/len(titanic["age"])
age_mean

In [ ]:
age_mean_wo_null = sum(titanic.loc[~titanic["age"].isnull(),"age"])/len(titanic.loc[~titanic["age"].isnull(),"age"])
age_mean_wo_null

In [ ]:
### Une méthode bien plus simple : la fonction build-in Series.mean()
titanic["age"].mean()

In [ ]:
titanic["fare"].mean()

### Exo : calculer le tarif moyen par classe. Retourner les résultats sous forme d'un dictionnaire

### Supprimer des valeurs manquantes

In [ ]:
### La méthode .dropna()
titanic.dropna(axis = 1)

In [ ]:
titanic.dropna(axis = 0)

In [ ]:
titanic.dropna(axis = 0, subset = ["boat"])

In [ ]:
### Pour ne conserver uniquement les lignes pour lesquelles l'âge et le sexe sont renseignés
titanic.dropna(axis = 0, subset = ["age","sex"])

In [ ]:
### On peut vérifier avec l'attribut shape
titanic.dropna(axis = 0, subset = ["age","sex"]).shape

## Les pivots de tables

Pour ceux qui connaissent, c'est l'équivalent des "tableaux croisés dynamiques" sur Excel.

In [ ]:
### Méthode DataFrame.pivot_table() : regardez la doc !!
titanic.pivot_table(index = "pclass", values = "fare")

In [ ]:
titanic.pivot_table(index = "pclass", values = "fare", aggfunc = sum)

In [ ]:
titanic.pivot_table(index = "pclass", values = ["age","fare","survived"])

In [ ]:
import numpy as np
titanic.pivot_table(index=["pclass","embarked"], values = ["fare", "survived"], aggfunc = [np.mean,sum])

## Tri et réindexation

In [ ]:
new_titanic = titanic.sort_values("age", ascending=False)
new_titanic.head(10)

Nous avons déjà introduit les méthodes loc et iloc sans nous y arrêter vraiment. C'est l'occasion de le faire maintenant.

Quelles différences entre les deux méthodes ? Regardez ce que donnent new_titanic.loc[9,:] et new_titanic.iloc[9,:] pour y voir plus clair...

In [ ]:
new_titanic.loc[9,:]

In [ ]:
new_titanic.iloc[9,:]

On voit donc l'intérêt de réindexer les lignes d'un nouveau dataframe construit à partir d'un dataframe existant puisqu'en effet les indices de ligne ne correspondent plus aux numéros des lignes...

In [ ]:
### méthode .reset_index()
new_titanic.reset_index()
### voir l'option drop pour ne pas avoir une nouvelle colonne avec l'ancien indice

In [ ]:
# pour changer l'index par un autre index que les numéros de ligne on utilise .set_index()
new_titanic.set_index("name",inplace=True)
new_titanic.loc["Svensson, Mr. Johan"]

## Appliquer une fonction sur un DataFrame

In [ ]:
### méthode .apply()

In [ ]:
### on définit une fonction qui retourne le 100ème élement d'une colonne
def obs100(col):
    return col[99]

In [ ]:
### On applique cette fonction au dataframe
titanic.apply(obs100, axis=0)

Essayez maintenant la même chose avec __axis = 1__. Que se passe-t-il ? Pourquoi ?

In [ ]:
### on définit une nouvelle fonction
def from_france(row):
    if row["embarked"] == "C":
        return "départ de France"
    else:
        return "parti d'ailleurs"
    
row = titanic.loc[150]
from_france(row)

# titanic["parti_de_France"] = titanic.apply(from_france, axis=1)
# titanic.head(10)

### Exo : utiliser la méthode apply pour déterminer le nombre de valeurs manquantes dans chaque colonne

Une indication : il faut d'abord définir une fonction

### Exo : utiliser la méthode apply pour créer une nouvelle variable age_label dans le dataframe contenant 'minor' si la personne a moins de 18 ans, 'adult' si son age est supérieur ou égal à 18 ans et 'unknown' sinon

Indications : Procéder par étape ! On définira d'abord une fonction, qu'on appliquera au dataframe et on stockera le résultat dans une nouvelle colonne

In [ ]:
titanic[['age','age_label']].head()

### Exo : calculer le pourcentage de survie par groupe d'âge (majeur/mineur)

Indication : l'exercice précédent a quasiment fait tout le boulot...