# Les objets DataFrames Pandas

Importer les données 'fandango_score_comparison'

In [1]:
import pandas as pd

fandango = pd.read_csv('Data/fandango-score-comparison.csv')
fandango.head()

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5
2,Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,3.90,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
3,Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.2,...,2.70,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5
4,Hot Tub Time Machine 2 (2015),14,28,29,3.4,5.1,3.5,3.0,0.70,1.4,...,2.55,0.5,1.5,1.5,1.5,2.5,88,19560,1021,0.5

## Indexage avec des entiers

In [2]:
fandango[142:]

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
142,'71 (2015),97,82,83,7.5,7.2,3.5,3.5,4.85,4.10,...,3.60,5.0,4.0,4.0,4.0,3.5,60,24116,192,0.0
143,"Two Days, One Night (2014)",97,78,89,8.8,7.4,3.5,3.5,4.85,3.90,...,3.70,5.0,4.0,4.5,4.5,3.5,123,24345,118,0.0
144,Gett: The Trial of Viviane Amsalem (2015),100,81,90,7.3,7.8,3.5,3.5,5.00,4.05,...,3.90,5.0,4.0,4.5,3.5,4.0,19,1955,59,0.0
145,"Kumiko, The Treasure Hunter (2015)",87,63,68,6.4,6.7,3.5,3.5,4.35,3.15,...,3.35,4.5,3.0,3.5,3.0,3.5,19,5289,41,0.0

In [3]:
fandango[-4:-1]

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
142,'71 (2015),97,82,83,7.5,7.2,3.5,3.5,4.85,4.10,...,3.6,5.0,4.0,4.0,4.0,3.5,60,24116,192,0.0
143,"Two Days, One Night (2014)",97,78,89,8.8,7.4,3.5,3.5,4.85,3.90,...,3.7,5.0,4.0,4.5,4.5,3.5,123,24345,118,0.0
144,Gett: The Trial of Viviane Amsalem (2015),100,81,90,7.3,7.8,3.5,3.5,5.00,4.05,...,3.9,5.0,4.0,4.5,3.5,4.0,19,1955,59,0.0

In [4]:
fandango.iloc[2]

FILM                          Ant-Man (2015)
RottenTomatoes                            80
RottenTomatoes_User                       90
Metacritic                                64
Metacritic_User                          8.1
IMDB                                     7.8
Fandango_Stars                           5.0
Fandango_Ratingvalue                     4.5
RT_norm                                  4.0
RT_user_norm                             4.5
Metacritic_norm                          3.2
Metacritic_user_nom                     4.05
IMDB_norm                                3.9
RT_norm_round                            4.0
RT_user_norm_round                       4.5
Metacritic_norm_round                    3.0
Metacritic_user_norm_round               4.0
IMDB_norm_round                          4.0
Metacritic_user_vote_count               627
IMDB_user_vote_count                  103660
Fandango_votes                         12055
Fandango_Difference                      0.5
Name: 2, dtype: object

In [5]:
fandango.iloc[[2,142,42]]

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
2,Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,3.9,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
142,'71 (2015),97,82,83,7.5,7.2,3.5,3.5,4.85,4.1,...,3.6,5.0,4.0,4.0,4.0,3.5,60,24116,192,0.0
42,About Elly (2015),97,86,87,9.6,8.2,4.0,3.6,4.85,4.3,...,4.1,5.0,4.5,4.5,5.0,4.0,23,20659,43,0.4

Retourner un DataFrame contenant seulement la première et la dernière ligne

In [13]:
len(fandango)

146

In [11]:
fandango.iloc[[0, len(fandango) - 1], :]

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.30,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
145,"Kumiko, The Treasure Hunter (2015)",87,63,68,6.4,6.7,3.5,3.5,4.35,3.15,...,3.35,4.5,3.0,3.5,3.0,3.5,19,5289,41,0.0

## Indexage personnalisé

- Créer un nouveau dataframe fandango_perso avec la colonne 'FILM' comme index en utilisant la méthode set_index (remarque : on veut conserver la colonne 'FILM')
- Afficher les indexes du DataFrame fandango_perso

## Sélectionner des valeurs depuis un index (personnalisé ou non)

Créer un dataframe films contenant les films suivants dans l'ordre indiqué :
- "Top Five (2014)"
- "Black Sea (2015)"
- "Taken 3 (2015)"

Le faire de 2 manières : l'une utilisera le dataframe fandango initial et l'autre utilisera le dataframe fandango_perso

## Méthode Apply() sur les colonnes d'un DataFrame

- Obtenir le dataframe float_df qui ne contient que les colonnes de type décimales float64
>- dtypes est votre ami
>- vaut-il mieux utiliser le dataframe fandango ou bien fandango_perso (indexés par les films) ?
- Diviser par 2 chaque valeur, élever chaque valeur au carré, calculer la déviation standard de chaque colonne
>- apply et la fonction std de la limbraire numpy sont vos amis
>- stocker les résultats dans 2 variables

## Méthode Apply() sur les lignes d'un DataFrame

- Utiliser la méthode apply() pour calculer la moyenne (méthode mean() de la librairie Numpy) des valeurs de chaque film pour 'RT_user_norm' et 'metacritic_user_nom' puis assigner le résultat à la variable rt_mc_means
- Afficher les 7 premières valeurs de rt_mt_means