# Connexion Ã  MariaDB depuis Python

## Import des librairies

In [4]:
import mysql.connector as mariadb
import os

## Informations de connexion

In [5]:
mariadb_usr = os.getenv('mariadb_usr')
mariadb_pwd = os.getenv('mariadb_pwd')

## Connexion au SGBDR MariaDB

In [6]:
db = mariadb.connect(host='localhost', user=mariadb_usr, password=mariadb_pwd)

## Instanciation d'un curseur

In [7]:
curseur = db.cursor()

## Requetage SQL

In [8]:
curseur.execute("CREATE DATABASE IF NOT EXISTS test")
curseur.execute("USE test")
curseur.execute("CREATE TABLE IF NOT EXISTS test_table (nom VARCHAR(255), prenom VARCHAR(255))")
curseur.execute("INSERT INTO test_table VALUES (f'Snow', 'John')")
db.commit()

## Fermeture du curseur et de la connection

In [9]:
curseur.close()
db.close()